body {
  background: no-repeat url('./img/body.jpg');
  background-size: cover;
}

.GameBoard {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  height: 806px;
  width: 650px;
  margin-top: 20px;
  background: no-repeat url("~kchess-react-shared/img/bg.png");
  background-size: cover;
}
