body {
  background: no-repeat url("http://file.500sucai.com/upload/image/201512/ce51cd14-183b-4344-961a-99832b003dbd_thumb.jpg");
  background-size: cover;
}

.GameBoard {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  height: 806px;
  width: 650px;
  margin-top: 20px;
  background: no-repeat url("~kchess-react-shared/img/bg.png");
  background-size: cover;
}
