.RecordPanel {
  width: 340px;
  height: 440px;
  background: #ffffff80;
  display: flex;
  flex-direction: column;
}

.RecordPanel text {
  font: bold large Arial;
  align-self: center;
  padding-top: 20px;
}

.RecordPanel ul {
  overflow: auto;
  list-style-type: none;
  max-height: 400px;
}

.RecordPanel li {
  padding-top: 10px;
  font-size: medium;
}
